# ==========================
# DATABASE TIDB
# ==========================

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


# ==========================
# FLASK CONFIG
# ==========================

SECRET_KEY=


# ==========================
# CLOUDINARY CONFIG
# ==========================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# ==========================
# RESEND EMAIL CONFIG
# ==========================

RESEND_API_KEY=