<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Forgot Password | AMSP</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/auth.css') }}">

</head>


<body>


<div class="auth-container">

    <div class="auth-card">


        <div class="logo-container">

            <img
            src="{{ url_for('static', filename='images/logo RB.png') }}"
            class="logo">

        </div>


        <div class="auth-header">

            <h1>
                RESET PASSWORD
            </h1>

            <p>
                Masukkan email akun anda
            </p>

        </div>



        <form
        class="auth-form"
        id="forgotForm">


            <div class="form-group">


                <label>
                    EMAIL
                </label>


                <div class="input-group">


                    <input

                    type="email"

                    id="email"

                    placeholder="Masukkan email"

                    required>


                </div>


            </div>



            <button
            type="submit"
            class="btn-login">

                Kirim Reset Link

            </button>



            <a
            href="/"
            class="btn-register">

                Back Login

            </a>


        </form>


    </div>

</div>



<script src="{{ url_for('static', filename='js/auth.js') }}"></script>


</body>


</html>